    <!-- App Bottom Menu -->
<div class="footer-nav-area" id="footerNav">
    <div class="container px-0">
        <!-- Footer Content -->
        <div class="footer-nav position-relative">
            <ul class="h-100 d-flex align-items-center justify-content-between ps-0">
                
                 <li>
                    @*<a href="page-home.html">
                    <i class="bi bi-house"></i>
                    <span>Home</span>
                    </a>*@

                    <NavLink href="/home" Match="NavLinkMatch.All">
                        <i class="bi bi-house"></i>
                        <span>Home</span>
                    </NavLink>
                </li>

                <li>
                    @*<a href="pages.html">
                        <i class="bi bi-collection"></i>
                        <span>Pages</span>
                    </a>*@

                    <NavLink href="/saleslist">
                        <i class="bi bi-collection"></i>
                        <span>Sales Order</span>
                    </NavLink>
                </li>

                <li>
                    @*<a href="pages.html">
                    <i class="bi bi-collection"></i>
                    <span>Pages</span>
                    </a>*@

                    <NavLink href="/salesadd">
                        <i class="bi bi-plus"></i>
                        <span>Sales Add</span>
                    </NavLink>
                </li>


               @* <li class="active">
                    <a href="elements.html">
                        <i class="bi bi-folder2-open"></i>
                        <span>Elements</span>
                    </a>

                    <NavLink href="/">
                        <i class="bi bi-folder2-open"></i>
                        <span>Elements</span>
                    </NavLink>
                </li>*@

                @*<li>
                    <a href="page-chat-users.html">
                        <i class="bi bi-chat-dots"></i>
                        <span>Chat</span>
                    </a>

                    <NavLink href="/">
                        <i class="bi bi-chat-dots"></i>
                        <span>Chat</span>
                    </NavLink>
                </li>*@

                <li>
                    @*<a href="settings.html">
                        <i class="bi bi-gear"></i>
                        <span>Settings</span>
                    </a>*@
                    <NavLink href="settings">
                        <i class="bi bi-gear"></i>
                        <span>Settings</span>
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- * App Bottom Menu -->
@code {

}
